---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Welcome to Astro.">
  <main
    class="w-screen h-screen p-0 m-0 flex flex-col gap-24 items-center justify-between bg-gradient-to-b from-[#583d2b] to-[#260d00] text-white"
  >
    <header class="w-full p-2 text-xl font-bold">&lt;feumpi.dev/&gt;</header>
    <div class="flex flex-col gap-16 items-center">
      <div class="flex flex-col gap-4 px-4 text-center md:text-left">
        <p class="text-3xl font-light">Hi there 👋, I'm</p>
        <h1
          class="text-6xl md:text-9xl font-black bg-gradient-to-b from-[#FFF897] to-[#F6C101] text-transparent bg-clip-text"
        >
          Felipe Umpierre
        </h1>
        <p class="text-2xl md:text-5xl">
          Front-end developer ☕ & Computer Science student 💻
        </p>
      </div>

      <div class="flex gap-6 text-5xl">
        <a href="https://github.com/feumpi" target="_blank"
          ><Icon name="mdi:github" /></a
        >
        <a href="https://linkedin.com/in/feumpi" target="_blank"
          ><Icon name="mdi:linkedin" /></a
        >
      </div>
    </div>

    <footer>&copy; 2024 Felipe Umpierre</footer>
  </main>
</Layout>
